{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4 custom-text-color">Наши гурманы</h1>
    
    {% if gourmand %}
        <div class="row row-cols-1 row-cols-md-3 g-4"> 
            {% for gourmand in gourmands %}
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="{% if gourmand.image %}{{ gourmand.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}" 
                         class="card-img-top img-fluid" 
                         alt="{{ gourmand.first_name }}"
                         style="height: 200px; object-fit: cover;">
                    
                    <div class="card-body bg-dark">
                        <h5 class="card-title bg-dark custom-text-color">{{ gourmand.first_name }} {{ gourmand.last_name }}</h5>
                        <p class="card-text custom-text-color">{{ gourmand.description|truncatechars:100 }}</p>
                    </div>
                    
                    <ul class="list-group list-group-flush bg-dark">
                        <li class="list-group-item bg-dark">
                            <i class="bi bi-geo-alt me-2"></i>
                                <span class="badge bg-secondary me-1 bg-dark">
                                    {{ gourmand.rating }} ★
                                </span>
                        </li>
                    </ul>
                    
                    <div class="card-body text-center bg-dark">
                        <div class="button_user">
                            <a href="{% url 'gourmand' gourmand.id %}" class="custom-button">
                                Подробнее <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            На данный момент гурманов нет. Следите за обновлениями!
        </div>
    {% endif %}
</div>
{% endblock %}

{% include 'includes/footer.html' %}