<footer class="bg-dark text-white p-2">
    <div class="container">
        <div class="row">
            <div class="justify-content-between">
                <p class="fs-6 mb-0">Телефон: <a href="tel:+79991234567" class="text-white text-decoration-none">+7 (999) 123-45-67</a></p>
                <p class="fs-6 mb-0">Автор Губанов Алексей. 2025 год. Красноярск</p>
                <p class="fs-6 mb-0">Email: <a href="mailto:info@gourmand.ru" class="text-white text-decoration-none">info@gourmand.ru</a></p>
            </div>
        </div>
    </div>
</footer>