{% load static %}
{% url 'events' as events_url %}
{% url 'places' as places_url %}
{% url 'index' as index_url %}
{% url 'reviews' as reviews_url %}
{% url 'gourmands' as gourmands_url %}
{% url 'contacts' as contacts_url %}

<div class="container">
  <div class="right_header_info fixed-top navbar-light bg-dark">
    <ul class="nav nav-tabs nav nav-link contact-info">
      <li class="nav-item button_user">
        <a class="button nav-link {% if request.path == index_url %}active{% endif %}" href="{% url 'index' %}">Главная</a>
      </li>
      <li class="nav-item button_user">
        <a class="button nav-link {% if request.path == events_url %}active{% endif %}" href="{% url 'events' %}">Афиша</a>
      </li>
      <li class="nav-item button_user">
        <a class="button nav-link {% if request.path == places_url %}active{% endif %}" href="{% url 'places' %}">Заведения</a>
      </li>
      <li class="nav-item button_user">
        <a class="button nav-link {% if request.path == gourmands_url %}active{% endif %}" href="{% url 'gourmands' %}">Гурманы</a>
      </li>
      <li class="nav-item button_user">
        <a class="button nav-link {% if request.path == reviews_url %}active{% endif %}" href="{% url 'reviews' %}">Отзывы</a>
      </li>
      <li class="nav-item button_user">
        <a class="button nav-link {% if request.path == contacts_url %}active{% endif %}" href="{% url 'contacts' %}">Контакты</a>
      </li>

      {% if request.user.is_authenticated %}
        <li class="nav-item button_user">
          <a class="button nav-link active" href="{% url 'profile' %}">{{ request.user.first_name }} {{ request.user.last_name }}</a>
          <a class="button nav-link" href="{% url 'signout' %}">Выход</a>
        </li>
      {% else %}
        <li class="button_user">
          <a class="button nav-link" href="{% url 'signin' %}" >Вход</a>
          <a class="button nav-link" href="{% url 'signup' %}" >Регистрация</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>

