{% load static %}
{% url 'events' as events_url %}
{% url 'places' as places_url %}
{% url 'index' as index_url %}
{% url 'reviews' as reviews_url %}
{% url 'gourmands' as gourmands_url %}
{% url 'contacts' as contacts_url %}


<nav class="navbar navbar-expand-xl bg_dark fixed-top pb-0" aria-label="Основная навигация" >
    <div class="container-fluid px-3">
            <!-- Логотип -->
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item button_user">
                <a class="navbar-brand custom-text-color pb-0 fs-5" href="{% url 'index' %}">Проект Гурман</a>
              </li>
            </ul>

           <!-- Кнопка "бутерброд" с dropdown -->
            <div class="dropdown ms-auto">
                <button class="navbar-toggler custom-button" type="button" data-bs-toggle="dropdown" 
                        aria-expanded="false" aria-label="Открыть меню навигации">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>
                    </span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end bg_dark" style="min-width: 250px;">
                    <li><a class="dropdown-item custom-text-color custom-button {% if request.path == index_url %}active{% endif %}" href="{% url 'index' %}">Главная</a></li>
                    <li><a class="dropdown-item custom-text-color {% if request.path == events_url %}active{% endif %}" href="{% url 'events' %}">Афиша</a></li>
                    <li><a class="dropdown-item custom-text-color {% if request.path == places_url %}active{% endif %}" href="{% url 'places' %}">Заведения</a></li>
                    <li><a class="dropdown-item custom-text-color {% if request.path == gourmands_url %}active{% endif %}" href="{% url 'gourmands' %}">Гурманы</a></li>
                    <li><a class="dropdown-item custom-text-color {% if request.path == reviews_url %}active{% endif %}" href="{% url 'reviews' %}">Отзывы</a></li>
                    <li><a class="dropdown-item custom-text-color {% if request.path == contacts_url %}active{% endif %}" href="{% url 'contacts' %}">Контакты</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item custom-text-color" href="{% url 'profile' %}">{{ request.user.first_name }} {{ request.user.last_name }}</a></li>
                        <li><a class="dropdown-item custom-text-color" href="{% url 'signout' %}">Выход</a></li>
                    {% else %}
                        <li><a class="dropdown-item custom-text-color" href="{% url 'signin' %}">Вход</a></li>
                        <li><a class="dropdown-item custom-text-color" href="{% url 'signup' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>

            <!-- Навигация -->
              <div class="collapse navbar-collapse right_header_info fixed-top bg-dark" id="navbarNav">
              <ul class="navbar-nav ms-auto ">
                <li class="nav-item button_user nav-tabs">
                    <a class="button nav-link" href="{% url 'index' %}">Проект Гурман</a>
                </li>
              </ul>
                <ul class="navbar-nav ms-auto nav nav-tabs nav nav-link contact-info">

                  <li class="nav-item button_user">
                    <a class="button nav-link  {% if request.path == index_url %}active{% endif %}" href="{% url 'index' %}">Главная</a>
                  </li>
                  <li class="nav-item button_user">
                    <a class="button nav-link {% if request.path == events_url %}active{% endif %}" href="{% url 'events' %}">Афиша</a>
                  </li>
                  <li class="nav-item button_user">
                    <a class="button nav-link {% if request.path == places_url %}active{% endif %}" href="{% url 'places' %}">Заведения</a>
                  </li>
                  <li class="nav-item button_user">
                    <a class="button nav-link {% if request.path == gourmands_url %}active{% endif %}" href="{% url 'gourmands' %}">Гурманы</a>
                  </li>
                  <li class="nav-item button_user">
                    <a class="button nav-link {% if request.path == reviews_url %}active{% endif %}" href="{% url 'reviews' %}">Отзывы</a>
                  </li>
                  <li class="nav-item button_user">
                    <a class="button nav-link {% if request.path == contacts_url %}active{% endif %}" href="{% url 'contacts' %}">Контакты</a>
                  </li>

                  {% if request.user.is_authenticated %}
                    <li class="nav-item button_user">
                      <a class="button nav-link active" href="{% url 'profile' %}">{{ request.user.first_name }} {{ request.user.last_name }}</a>
                      <a class="button nav-link" href="{% url 'signout' %}">Выход</a>
                    </li>
                  {% else %}
                    <li class="button_user">
                      <a class="button nav-link" href="{% url 'signin' %}" >Вход</a>
                      <a class="button nav-link" href="{% url 'signup' %}" >Регистрация</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
              </div>

</nav>


