
    <form class="main_form">
        <div class="row">
         
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <input class="form-control" placeholder="Имя" type="text" name="Name">
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <input class="form-control" placeholder="Email" type="text" name="Email">
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <input class="form-control" placeholder="Телефон" type="text" name="Phone">
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <textarea class="textarea" placeholder="Сообщение" type="text" name="Message"></textarea>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <button class="send">Отправить</button>
            </div>
        </div>
    </form>