{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme">

                <div class="item">
                    <div class="product_blog_img">
                        <img src="{% static 'img/rs1.png' %}" alt="#" />
                    </div>
                    <div class="product_blog_cont">
                        <h3>Петруха</h3>
                        <h4><span class="theme_color">★★★★★</span>123</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="product_blog_img">
                        <img src="{% static 'img/rs2.png' %}" alt="#" />
                    </div>
                    <div class="product_blog_cont">
                        <h3>Надюха</h3>
                        <h4><span class="theme_color">★★★★</span>100</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="product_blog_img">
                        <img src="{% static 'img/rs3.png' %}" alt="#" />
                    </div>
                    <div class="product_blog_cont">
                        <h3>Илюха</h3>
                        <h4><span class="theme_color">★★★★</span>80</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="product_blog_img">
                        <img src="{% static 'img/rs4.png' %}" alt="#" />
                    </div>
                    <div class="product_blog_cont">
                        <h3>Катюха</h3>
                        <h4><span class="theme_color">★★★</span>50</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="product_blog_img">
                        <img src="{% static 'img/rs5.png' %}" alt="#" />
                    </div>
                    <div class="product_blog_cont">
                        <h3>Чань-юха</h3>
                        <h4><span class="theme_color">★★★</span>4000</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="product_blog_img">
                        <img src="{% static 'img/rs1.png' %}" alt="#" />
                    </div>
                    <div class="product_blog_cont">
                        <h3>Петруха</h3>
                        <h4><span class="theme_color">★★★★★</span>312</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="product_blog_img">
                        <img src="{% static 'img/rs2.png' %}" alt="#" />
                    </div>
                    <div class="product_blog_cont">
                        <h3>Надюха</h3>
                        <h4><span class="theme_color">$</span>212</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="product_blog_img">
                        <img src="{% static 'img/rs3.png' %}" alt="#" />
                    </div>
                    <div class="product_blog_cont">
                        <h3>Илюха</h3>
                        <h4><span class="theme_color">★★</span>30</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="product_blog_img">
                        <img src="{% static 'img/rs4.png' %}" alt="#" />
                    </div>
                    <div class="product_blog_cont">
                        <h3>Катюха</h3>
                        <h4><span class="theme_color">★</span>10</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="product_blog_img">
                        <img src="{% static 'img/rs.png5' %}" alt="#" />
                    </div>
                    <div class="product_blog_cont">
                        <h3>Чань-хуа</h3>
                        <h4><span class="theme_color">★★</span>50</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>