{% load static %}
{#    <div class="sidebar">#}
{#            <!-- Sidebar  -->#}
{#            <nav id="sidebar">#}
{##}
{#                <div id="dismiss">#}
{#                    <i class="fa fa-arrow-left"><img src=" {% static 'img/icon.jpg' %}"></i>#}
{#                </div>#}
{##}
{#                <ul class="list-unstyled components">#}
{##}
{#                    <li class="active">#}
{#                        <a href="{% url 'index' %}">Главная</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{% url 'contacts' %}">О нас</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{% url 'reviews' %}">Наши Гурманы</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{% url 'events' %}">Афиша мероприятий</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{% url 'contacts' %}">Свяжитесь с нами</a>#}
{#                    </li>#}
{#                </ul>#}
{##}
{#            </nav>#}
{#        </div>#}

