{% extends "landing/base.html" %}
{% load static %}
{% block content %}
<div class="container text-white mt-2 pt-4">
  <h2 class="mb-4 pt-4 custom-text-color">Профиль владельца заведения(й)</h2>
  {% if profile.image %}
    <img src="{{ profile.image.url }}" alt="Фото владельца" class="img-thumbnail" width="150">
  {% else %}
    <img src="{% static 'img/default.png' %}" alt="Фото владельца" class="img-thumbnail" width="150">
  {% endif %}
  <p>Имя: {{ user.first_name }}</p>
  <p>Фамилия: {{ user.last_name }}</p>
  <p>Описание: {{ user.description }}</p>
  <p>Заведения: {{ user.places }}</p>
  <div class="mt-4 button_user">
    <a href="{% url 'edit_profile' %}" class="custom-button">Редактировать профиль</a>
  </div>
</div>
{% endblock %}
