{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <h1 class="mb-4 pt-4 custom-text-color">Отзывы о {{ place.name }}</h1>

  {% if reviews %}
    {% for review in reviews %}
      <div class="card bg-dark text-white mb-3">
        <div class="card-body">
          <h5 class="card-title"><a class="link_yellow" href="{% url 'gourmand' review.gourmand_id %}">{{ review.gourmand }}</a>
          </h5>  
            <h5 class="card-title"><a class="link_yellow" href="{% url 'review' review.id %}">{{ review.name }}</a>
            <h5 class="card-title">Оценка заведения от гурмана {{ review.gourmand_rating }}<span class="text-warning">★</span>
          </h5>
          <p class="card-text">{{ review.description }}</p>
          <p class="card-text">
            <small>{{ review.review_date|date:"d M Y" }}</small>
          </p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="alert alert-info" role="alert">
      Отзывов пока нет.
    </div>
      
  {% endif %}

  <!-- Кнопка возврата к заведению -->
  <div class="mt-4 button_user">
    <a href="{% url 'place' place.id %}" class="custom-button">Назад к заведению</a>
  </div>
</div>
{% endblock %}

{% include 'includes/footer.html' %}
