{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container my-4 my-md-5">
    <div class="full d-xl-none mt-5">
        <h1 class="mb-3 pt-5 pt-sm-5 pt-md-5 pt-xl-4 custom-text-color">Заведения в городе Красноярске</h1>
    </div>

    <div class="row mb-4 mt-4">
        <div class="col-md-6 col-lg-4 mb-2">
            <form method="GET" class="d-flex gap-2">
                <select name="sort" class="form-select" onchange="this.form.submit()">
                    <option value="id" {% if current_sort == 'id' %}selected{% endif %}>По умолчанию</option>
                    <option value="name" {% if current_sort == 'name' %}selected{% endif %}>По названию</option>
                    <option value="rating" {% if current_sort == 'rating' %}selected{% endif %}>По рейтингу</option>
                </select>
            </form>
        </div>
    </div>

    {% if places %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 g-md-4 mb-3">
            {% for place in places %}
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="{% if place.images.exists %}{{ place.images.first.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}"
                         class="card-img-top img-fluid"
                         alt="{{ place.name }}"
                         style="height: 150px; object-fit: cover;">
                    <div class="card-body bg-dark custom-text-color p-2 p-md-3">
                        <h3 class="custom-text-color mb-1 d-flex justify-content-between">{{ place.name }} <span class="ms-auto text-warning">★{{ place.rating }}</span></h3>
                        <p class="small mb-0">{{ place.description|truncatewords:8 }}</p>
                    </div>
                    <div class="card-body bg-dark p-1 text-center flex-wrap">
                        <div class="d-flex flex-column flex-md-row justify-content-center mb-2 gap-2 button_user flex-wrap">
                            <a href="{% url 'place' place.slug %}" class="btn custom-button btn-sm custom-text-color">Подробнее</a>
                            {% if  not user.is_authenticated or user.is_gourmand or not place.owner == user%}
                                <button type="button" class="btn custom-button btn-sm" data-bs-toggle="modal" data-bs-target="#contactModal{{ place.id }}">Контакты</button>
                            {% endif %}
                            {% if user.is_authenticated and user.is_owner and place.owner == user %}
                                <a href="{% url 'edit_place' place.id %}" class="btn custom-button btn-sm custom-text-color">Редактировать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Модальное окно -->
            <div class="modal fade" id="contactModal{{ place.id }}" tabindex="-1" aria-labelledby="contactModalLabel{{ place.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-dark text-white">
                        <div class="modal-header">
                            <h1 class="modal-title custom-text-color" id="contactModalLabel{{ place.id }}">{{ place.name }}</h1>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Местоположение:</strong> {{ place.location }}</p>
                            <p><strong>Телефон:</strong> {{ place.phone }}</p>
                            {% if place.website %}
                                <p><strong>Сайт:<a href="{{ place.website }}" target="_blank" class="custom-text-color small text-decoration-none"> </strong>{{ place.website|truncatechars:30 }}</p></a>
                        {% endif %}
                            <p><strong>Email:</strong> {{ place.place_email }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn custom-button" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
    {% if user.role == "owner" %}
        <div class="button_user mb-3 text-center d-flex justify-content-center">
            <a href="{% url 'create_places' %}" class="btn custom-button">Создать заведение</a>
        </div>
    {% endif %}
<nav aria-label="Page navigation" class="">
    <ul class="pagination justify-content-center flex-wrap">
        {% if places.has_previous %}
            <li class="page-item">
                <a class="page-link bg_dark button_user" href="?page=1{% if current_place %}&place={{ current_place }}{% endif %}{% if current_sort != 'id' %}&sort={{ current_sort }}{% endif %}">
                    <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" id="Bold" viewBox="0 0 24 24">
                        <path d="M12,24a1.493,1.493,0,0,1-1.06-.439L3.264,15.889a5.5,5.5,0,0,1,0-7.778L10.936.439a1.5,1.5,0,1,1,2.121,2.122L5.385,10.232a2.5,2.5,0,0,0,0,3.536l7.672,7.671A1.5,1.5,0,0,1,12,24Z"/><path d="M21.542,24a1.5,1.5,0,0,1-1.061-.439L11.4,14.475a3.505,3.505,0,0,1,0-4.95L20.481.439A1.5,1.5,0,0,1,22.6,2.561l-9.086,9.085a.5.5,0,0,0,0,.708L22.6,21.439A1.5,1.5,0,0,1,21.542,24Z"/>
                    </svg>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link bg_dark" href="?page={{ places.previous_page_number }}{% if current_place %}&place={{ current_place }}{% endif %}{% if current_sort != 'id' %}&sort={{ current_sort }}{% endif %}">
                    <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" id="Bold" viewBox="0 0 24 24">
                        <path d="M17.921,1.505a1.5,1.5,0,0,1-.44,1.06L9.809,10.237a2.5,2.5,0,0,0,0,3.536l7.662,7.662a1.5,1.5,0,0,1-2.121,2.121L7.688,15.9a5.506,5.506,0,0,1,0-7.779L15.36.444a1.5,1.5,0,0,1,2.561,1.061Z"/>
                    </svg>
                </a>
            </li>
        {% endif %}

        <li class="page-item">
            <span class="bg_dark pag_size">{{ places.number }} из {{ places.paginator.num_pages }}</span>
        </li>

        {% if places.has_next %}
            <li class="page-item">
                <a class="page-link bg_dark" href="?page={{ places.next_page_number }}{% if current_place %}&place={{ current_place }}{% endif %}{% if current_sort != 'id' %}&sort={{ current_sort }}{% endif %}">
                    <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" id="Bold" viewBox="0 0 24 24">
                        <path d="M6.079,22.5a1.5,1.5,0,0,1,.44-1.06l7.672-7.672a2.5,2.5,0,0,0,0-3.536L6.529,2.565A1.5,1.5,0,0,1,8.65.444l7.662,7.661a5.506,5.506,0,0,1,0,7.779L8.64,23.556A1.5,1.5,0,0,1,6.079,22.5Z"/>
                    </svg>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link bg_dark" href="?page={{ places.paginator.num_pages }}{% if current_place %}&place={{ current_place }}{% endif %}{% if current_sort != 'id' %}&sort={{ current_sort }}{% endif %}">
                    <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" id="Bold" viewBox="0 0 24 24">
                        <path d="M11.832,24a1.5,1.5,0,0,1-1.061-2.561l7.672-7.671a2.5,2.5,0,0,0,0-3.536L10.771,2.561A1.5,1.5,0,0,1,12.893.439l7.671,7.672a5.5,5.5,0,0,1,0,7.778l-7.671,7.672A1.5,1.5,0,0,1,11.832,24Z"/><path d="M2.287,24a1.5,1.5,0,0,1-1.06-2.561l9.085-9.085a.5.5,0,0,0,0-.708L1.227,2.561A1.5,1.5,0,0,1,3.348.439l9.086,9.086a3.507,3.507,0,0,1,0,4.949L3.348,23.561A1.5,1.5,0,0,1,2.287,24Z"/>
                    </svg>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
    {% include 'includes/footer.html' %}
{% endblock %}

