{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4 pt-4 custom-text-color">Заведения в городе Красноярске</h1>
    
    {% if places %}
        <div class="row row-cols-1 row-cols-md-3 g-4"> 
            {% for place in places %}
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="{% if place.image %}{{ place.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}"
                         class="card-img-top img-fluid"
                         alt="{{ place.name }}"
                         style="height: 200px; object-fit: cover;">

                    <div class="card-body bg-dark custom-text-color">
                        <h2 class="custom-text-color">{{ place.name }} <span class="text-warning">★{{ place.rating }}</span></h2>
                        <p>{{ place.description|truncatechars:100 }}</p>
                    </div>

                    <ul class="list-group bg-dark list-group-flush">
                        <li class="list-group-item bg-dark">
                            <span class="badge bg-dark me-1">
                                Местоположение:
                                {{ place.location }}
                            </span>
                        </li>

                        <li class="list-group-item bg-dark custom-text-color">
                            <i class="bi bi-envelope me-2 bu">Контакты</i><br>
                            Телефон {{ place.phone }} <br>
                            Е-майл {{ place.place_email }}
                        </li>
                    </ul>

                        <div class="card-body text-center bg-dark">
                            <div class="button_user">
                                <a href="{% url 'place' place.id %}" class="custom-button">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                </div>
</div>
            {% endfor %}
        </div>
        <div class="button_user pt-4">
             <a href="{% url 'create_places' %}" class="custom-button">
                Создать новое заведение
             </a>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            На данный момент заведений нет. Следите за обновлениями!
        </div>
    {% endif %}
</div>
{% endblock %}

{% include 'includes/footer.html' %}