{% load static %}
body {
    background-color: #1c1c1c;
    color: white;
    font-family: 'LXGW WenKai Mono TC', 'Arial', sans-serif;
}

 a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 h1, h2, h3, h4, h5, h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     line-height: normal;
     color: #111111;
     margin: 0
}
 h1 {
     font-size: 24px
}
 h2 {
     font-size: 22px
}
 h3 {
     font-size: 18px
}
 h4 {
     font-size: 16px
}
 h5 {
     font-size: 14px
}
 h6 {
     font-size: 13px
}

.custom-btn {
    background-color: #f1c40f;
    border: none;
    color: white;
}
 button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.button_user a:hover, .button_user a:focus, .button_user a.active {
    background: #e3d105;
    color: #fff;
    border-color: #e3d105;
    color: #222;
}
 .button_user a {
     float: left;
     min-width: 75px;
     height: 35px;
     text-align: center;
     line-height: 35px;
     position: relative;
     top: -3px;
     padding: 0 15px;
     margin: 0 2px;
}
 .button_user a {
     float: left;
     min-width: 75px;
     height: 40px;
     text-align: center;
     line-height: 38px;
     position: relative;
     top: -7px;
     padding: 0 15px;
     margin: 0 2px;
     border: solid #eaeaea 1px;
}
 .button_user a:hover, .button_user a:focus, .button_user a.active {
     background: #e3d105;
     color: #fff;
     border-color: #e3d105;
     color: #222;
}

 header {
     min-height: 70px;
     background: #1e1d1b;
     padding: 0 0;
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 998;
}
 header .container-fluid {
     max-width: 1850px;
}
 .right_header_info {
     width: 100%;
     float: left;
     padding: 20px 0 0;
}
 .right_header_info ul {
     list-style: none;
     padding: 0;
     margin: 0;
     float: right;
}
 .right_header_info ul li {
     display: inline;
     font-size: 16px;
     margin-left: 45px;
     color: #eaeaea;
     font-weight: 400;
     float: left;
}
 .right_header_info ul li a {
     color: #eaeaea;
     font-weight: 300;
}
 .dropdown-menu{
    color: #1c1c1c;
    background-color: #1c1c1c;
}
.dropdown-toggle::after {
    display: none;
}
/* Кастомные стили для шапки */
.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.contact-info .nav-link {
  color: rgba(255,255,255,0.8) !important;
  font-size: 0.9rem;
}

.contact-info .nav-link:hover {
  color: white !important;
}

/* Адаптивность для мобильных */
@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #343a40; /* Цвет фона меню в мобильной версии */
    padding: 1rem;
  }
}