 <h1>Проект Гурман</h1>
  <p class="mb-5 text-body-secondary">Хэй хо</p>
 {% if reviews %}
  <div class="row flex-column gap-4 align-items-center">   
  {% for review in reviews %}
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ review.name }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ review.name }}</h6>
          <p class="card-text">Посмотреть детальнее</p>
          <a href="{% url 'review' review.id  %}" class="card-link">Посмотреть</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>   
  {% else %}
<p>Отзывов нет.</p>
    {% endif %}
<div class="row flex-column gap-4 align-items-center">
<div class="col-12">
    <a href="{% url 'create_review' %}" class="card-link">Написать новый отзыв</a>
</div>
</div>