{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-2 pt-2 custom-text-color">Отзывы о ресторанах</h1>

    {% if reviews %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for review in reviews %}
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="{% if review.images.exists %}{{ review.images.first.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}"
                         class="card-img-top img-fluid"
                         alt="{{ review.name }}"
                         style="height: 200px; object-fit: cover;">

                    <div class="card-body bg-dark">
                        <h5 class="card-title bg-dark custom-text-color">{{ review.gourmand.first_name }} {{ review.gourmand.last_name }}</h5>
                        <h5 class="card-title bg-dark custom-text-color">{{ review.name }}</h5>
                        <h5 class="card-title bg-dark custom-text-color">
                            Оценка от гурмана: {% if review.gourmand_rating %}{{ review.gourmand_rating }} <span class="text-warning">★</span>{% else %}Не указана{% endif %}
                        </h5>
                        <h2 class="card-title bg-dark custom-text-color">{{ review.place.name }} {{ review.place.rating }}<span class="text-warning">★</span></h2>
                        <p class="card-text custom-text-color">{{ review.description|truncatewords:10 }}</p>
                    </div>

                    <ul class="list-group list-group-flush bg-dark">
                        <li class="list-group-item bg-dark">
                            <i class="bi bi-geo-alt me-2">
                                <span class="badge bg-secondary me-1 bg-dark">
                                    Позитивный рейтинг: {% if review.positive_rating %}{{ review.positive_rating }} <span class="text-warning">★</span>{% else %}0{% endif %}
                                </span>
                            </i>
                            <i class="bi bi-geo-alt me-2">
                                <span class="badge bg-secondary me-1 bg-dark">
                                    Негативный рейтинг: {% if review.negative_rating %}{{ review.negative_rating }} <span class="text-warning">★</span>{% else %}0{% endif %}
                                </span>
                            </i>
                        </li>
                    </ul>

                    <div class="card-body text-center bg-dark">
                        <div class="button_user bg-dark">
                            <a href="{% url 'review' review.id %}" class="custom-button">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="button_user pt-2">
            <a href="{% url 'create_review' %}" class="custom-button">
                Создать отзыв
            </a>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            На данный момент отзывов нет. Следите за обновлениями!
        </div>
        <div class="button_user">
            <a href="{% url 'create_review' %}" class="custom-button">
                Создать отзыв
            </a>
        </div>
    {% endif %}
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if reviews.has_previous %}
            <li class="page-item button_user">
                <a class="page-link bg_dark" href="?page=1">Первая</a>
            </li>
            <li class="page-item button_user">
                <a class="page-link bg_dark" href="?page={{ reviews.previous_page_number }}">Назад</a>
            </li>
        {% endif %}

        <li class="page-item custom-button">
            <span class="page-link bg_dark pag_size">Страница {{ reviews.number }} из {{ reviews.paginator.num_pages }}</span>
        </li>

        {% if reviews.has_next %}
            <li class="page-item button_user">
                <a class="page-link bg_dark" href="?page={{ reviews.next_page_number }}">Вперёд</a>
            </li>
            <li class="page-item button_user">
                <a class="page-link bg_dark" href="?page={{ reviews.paginator.num_pages }}">Последняя</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% include 'includes/footer.html' %}