{% load static %}


<div class="slider_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div id="main_slider" class="carousel vert slide" data-ride="carousel" data-interval="5000">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="slider_cont">
                                                <h3>Изучай обзоры на рестораны и кафе<br>В любимом Красноярске</h3>
                                                <p>Отзывы составлены людьми, которые искушены в еде и знают места, где поесть</p>
                                                <a class="main_bt_border" href="#">Отзывы</a>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="slider_image full text_align_center">
                                                <img class="img-responsive" src="{% static 'img/Rest_interior.png' %}" alt="#" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="slider_cont">
                                                <h3>Афиша мероприятий<br>События в заведениях города</h3>
                                                <p>Здесь вы увидите афишу мероприятий в кафе и ресторанах города Красноярска</p>
                                                <a class="main_bt_border" href="#">Афиша</a>
                                            </div>
                                        </div>
                                        <div class="col-md-7 full text_align_center">
                                            <div class="slider_image">
                                                <img class="img-responsive" src="{% static 'img/Rest_interior_2.png' %}" alt="#" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                                <i class="fa fa-angle-up"><img src="{% static 'img/up.jpg' %}"></i>
                            </a>
                            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                                <i class="fa fa-angle-down"><img src="{% static 'img/down.jpg' %}"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>