{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="full d-xl-none mt-5">
        <h1 class="mb-3 pt-5 pt-sm-5 pt-md-5 pt-xl-4 custom-text-color">Контакты</h1>  <!-- Заголовок для экранов меньше XL -->
    </div>    
    <div class="row">
        
        <div class="col-md-6 mt-4">
            <h4 class="custom-text-color">Свяжитесь с нами</h4>
            <p class="custom-text-color">Если у вас возникли вопросы или предложения, заполните форму ниже – мы обязательно свяжемся с вами!</p>
            <form method="post" action="{% url 'contacts' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label custom-text-color">Ваше имя</label>
                    <input type="text" class="form-control bg-dark text-white" id="name" name="name" placeholder="Введите ваше имя" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label custom-text-color">Ваш Email</label>
                    <input type="email" class="form-control bg-dark text-white" id="email" name="email" placeholder="Введите email" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label custom-text-color">Сообщение</label>
                    <textarea class="form-control bg-dark text-white" id="message" name="message" rows="5" placeholder="Введите сообщение" required></textarea>
                </div>
                      <div class="button_user bg-dark">
                            <a href="#" class="custom-button">
                                Подробнее
                            </a>
                        </div>
            </form>
        </div>

        
        <div class="col-md-6 mt-4">
            <h2 class="custom-text-color">Наши контакты</h2>
            <ul class="list-unstyled custom-text-color">
                <li class="mb-2">
                    <i class="bi bi-geo-alt-fill me-2"></i>
                    Адрес: г. Красноярск, ул. Примерная, 1
                </li>
                <li class="mb-2">
                    <i class="bi bi-telephone-fill me-2"></i>
                    Телефон: <a href="tel:+7 923 328 11 88" class="text-decoration-none custom-text-color">+7 923 328 11 88</a>
                </li>
                <li class="mb-2">
                    <i class="bi bi-envelope-fill me-2"></i>
                    Email: <a href="mailto:pochta@mail.ru" class="text-decoration-none custom-text-color">pochta@mail.ru</a>
                </li>
            </ul>
            
            <div class="mt-4 bg_dark">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43046.88392031994!2d92.8147268369136!3d56.01056423396747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ca3c32951e0b9a5%3A0x1d84700f3199e5e7!2z0JrQsNC80L7Qu9Cw0L3QsCDQotCw0YDQvtCz0L4sINCa0LjQtdCy0YHQutC-0LU!5e0!3m2!1sru!2sru!4v1718633246255!5m2!1sru!2sru"
                  width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</div>
    {% include 'includes/footer.html' %}
{% endblock %}

{% include 'includes/footer.html' %}
