{% load static %}
<div class="about">
    <div class="container">
      <div class="row">
         <div class="col-md-12">
             <div class="title">
                <i><img src="{% static 'img/title.png' %}" alt="#"/></i>
                <h2>Афиша мероприятий и событий в мире еды</h2>
                <span>
                    Здесь собраны анонсы всех мероприятий города
                </span>
             </div>
          </div>
       </div>
       <div class="row">
         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
             <div class="about_box">
                 <h3>Винный вечер в 0,75 please</h3>
                 <p>Винный ужин – одно из наиболее популярных развлечений для элитной публики. Поэтому мероприятия такого формата стремятся регулярно проводить самые различные рестораны, гостиницы, а также ивент-агентства. Суть данного развлечения заключается в дегустации изысканных престижных вин с тщательно подобранными закусками в шикарной атмосфере. Его можно провести как просто для привлечения клиентов, так и в качестве приятного бонуса для определенной аудитории или как развлекательный элемент какого-либо празднования. </p>
                 <a href="#">Перейти к мероприятию <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
             </div>
         </div>
          <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 about_img_boxpdnt">
             <div class="about_img">
                 <figure><img src="{% static 'img/about-img.jpg' %}" alt="#/"></figure>
             </div>
         </div>      
       </div> 
    </div>
</div>