{% extends 'landing/base.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white shadow-lg p-4">
                <h2 class="text-center mb-4 custom-text-color">Создание события</h2>
                <form method="POST" action="{% url 'create_event' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        <label for="id_name" class="form-label">Название события</label>
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                    <div class="mb-3">
                        <label for="id_description" class="form-label">Описание</label>
                        {{ form.description }}
                        {{ form.description.errors }}
                    </div>
                    <div class="mb-3">
                        <label for="id_event_date" class="form-label">Дата события</label>
                        {{ form.event_date }}
                        {{ form.event_date.errors }}
                    </div>
                    <div class="mb-3">
                        <label for="images" class="form-label">Фотографии заведения (можно выбрать несколько, необязательно)</label>
                        <input type="file" name="images" id="images" class="form-control" multiple>
                    </div>
                    <div class="mb-3">
                        <label for="id_place" class="form-label">Выберите заведение</label>
                        {{ form.place }}
                        {{ form.place.errors }}
                    </div>
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="button_user pt-4">
                        <button type="submit" class="custom-button custom-text-color bg_dark">Создать событие</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}