{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow bg-dark text-white">
                <div class="card-header text-center custom-text-color">
                    <h2 class="text-center mb-4 custom-text-color">Восстановление пароля</h2>
                </div>
                <div class="card-body">
                    <p>Введите ваш email, и мы отправим вам ссылку для восстановления пароля.</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="button_user text-center">
                            <button type="submit" class="btn custom-button btn-sm">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}