{% extends "landing/base.html" %}
{% load static %}
{% block content %}
<div class="container my-4 my-md-5">
    <div class="full d-xl-none mt-5">
        <h1 class="mb-3 pt-5 pt-sm-5 pt-md-5 pt-xl-4 custom-text-color">Профиль гурмана</h1>
    </div>
  {% if profile.image %}
    <img src="{{ profile.image.url }}" alt="Фото гурмана" class="img-thumbnail" width="150">
  {% else %}
    <img src="{% static 'img/default.png' %}" alt="Фото гурмана" class="img-thumbnail" width="150">
  {% endif %}
  <p>Имя: {{ user.first_name }}</p>
  <p>Фамилия: {{ user.last_name }}</p>
  <p>Описание: {{ profile.description }}</p>
  <p>Рейтинг: {{ profile.rating }}</p>
  <div class="mt-4 button_user">
    <a href="{% url 'edit_profile' %}" class="custom-button">Редактировать профиль</a>
  </div>
</div>
{% endblock %}
