{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white shadow-lg p-4">
                <h2 class="text-center mb-4 mt-2 custom-text-color">Введите новый пароль</h2>
                {% if validlink %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="mb-3">
                            <label for="id_new_password1" class="form-label">Новый пароль</label>
                            <input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="Введите новый пароль" required>
                            {{ form.new_password1.errors }}
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password2" class="form-label">Подтверждение пароля</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Повторите пароль" required>
                            {{ form.new_password2.errors }}
                        </div>
                        <div class="button_user pt-4 d-flex justify-content-center">
                            <button type="submit" class="custom-button custom-text-color bg_dark">Сохранить</button>
                        </div>
                    </form>
                {% else %}
                    <p class="text-center text-danger">Ссылка для сброса пароля недействительна или истекла. Пожалуйста, запросите восстановление пароля заново.</p>
                    <div class="text-center mt-3">
                        <a href="{% url 'password_reset' %}" class="text-warning">Запросить заново</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}