{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5 mt-6">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white shadow-lg p-4">
                <h2 class="text-center mb-4 mt-2 custom-text-color">Регистрация</h2>
                <form method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="mb-3">
                        <label for="id_first_name" class="form-label">Имя</label>
                        <input type="text" name="first_name" id="id_first_name" class="form-control" placeholder="Введите имя" required>
                        {{ form.first_name.errors }}
                    </div>

                    <div class="mb-3">
                        <label for="id_last_name" class="form-label">Фамилия</label>
                        <input type="text" name="last_name" id="id_last_name" class="form-control" placeholder="Введите фамилию" required>
                        {{ form.last_name.errors }}
                    </div>

                    <div class="mb-3">
                        <label for="id_email" class="form-label">Email</label>
                        <input type="email" name="email" id="id_email" class="form-control" placeholder="Введите email" required>
                        {{ form.email.errors }}
                    </div>

                    <div class="mb-3">
                        <label for="id_password1" class="form-label">Пароль</label>
                        <input type="password" name="password1" id="password1" class="form-control" placeholder="Введите пароль" required>
                        {{ form.password1.errors }}
                    </div>

                    <div class="mb-3">
                        <label for="id_password2" class="form-label">Подтверждение пароля</label>
                        <input type="password" name="password2" id="password2" class="form-control" placeholder="Повторите пароль" required>
                        {{ form.password2.errors }}
                    </div>

                    <div class="mb-3">
                        <label for="id_role" class="form-label">Выберите роль</label>
                        <select name="role" id="id_role" class="form-control" required>
                            <option value="gourmand">Гурман</option>
                            <option value="owner">Владелец заведения</option>
                        </select>
                        {{ form.role.errors }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Проверка</label>
                        <div id="captcha-container" class="smart-captcha" data-sitekey="{{ settings.YANDEX_CAPTCHA_CLIENT_KEY }}"
                                                                        data-callback="smartCaptchaCallback"></div>
                    
                        <input type="hidden" name="captcha" id="id_captcha">
                        {{ form.captcha.errors }}
                    </div>
                    <div class="button_user pt-4 d-flex justify-content-center">
                        <button type="submit" class="custom-button custom-text-color bg_dark">Зарегистрироваться</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <p>Уже есть аккаунт? <a href="{% url 'signin' %}" class="text-warning">Войти</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.smartCaptchaCallback = function(token) {
        console.log("📌 Капча сработала, токен:", token);
        document.getElementById('id_captcha').value = token;
    };

    document.querySelector('form').addEventListener('submit', function(event) {
        const captchaToken = document.getElementById('id_captcha').value;
        if (!captchaToken) {
            event.preventDefault();
            alert('Пожалуйста, пройдите проверку капчи.');
        }
        // Отключаем кнопку отправки
        const submitButton = this.querySelector('button[type="submit"]');
        submitButton.disabled = true;
        submitButton.textContent = 'Отправка...';
    });
</script>
<script src="https://smartcaptcha.yandexcloud.net/captcha.js" defer></script>
{% endblock %}