{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white shadow-lg p-4">
                <h2 class="text-center mb-4 mt-2 custom-text-color">Регистрация</h2>
                <form method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="button_user pt-4 d-flex justify-content-center">
                        <button type="submit" class="custom-button custom-text-color bg_dark">Зарегистрироваться</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <p>Уже есть аккаунт? <a href="{% url 'signin' %}" class="text-warning">Войти</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %}
<script src="https://smartcaptcha.yandexcloud.net/captcha.js" defer></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.smartCaptchaCallback = function(token) {
            document.getElementById('captcha-token').value = token;
        };
    });
{% endcomment %}
</script>
{% endblock %}