{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5 mt-2">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow bg-dark text-white">
                <div class="card-header text-center custom-text-color">
                    <h2 class="text-center mt-4 custom-text-color">Вход</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="id_email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="id_password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <div class="button_user d-flex justify-content-center">
                            <button type="submit" class="btn custom-button btn-sm">Войти</button>
                        </div>
                    </form>
                    <!-- Добавляем ссылку "Забыли пароль?" -->
                    <div class="text-center mt-3">
                        <a href="{% url 'password_reset' %}" class="custom-text-color text-warning">Забыли пароль?</a>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <p>Нет аккаунта? <a href="{% url 'signup' %}" class="custom-text-color text-warning">Зарегистрироваться</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}