{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container my-4 my-md-5">
    <div class="full d-xl-none mt-5">
        <h1 class="mb-3 pt-5 pt-sm-5 pt-md-5 pt-xl-4 custom-text-color">{{ event.name }}</h1>
    </div>
  <div class="card bg-dark text-white shadow mt-4">
    {% if event.images.exists %}
      <div class="row g-2 p-3">
        {% for image in event.images.all %}
          <div class="col-md-4">
            <img src="{{ image.image.url }}"
                 class="card-img-top img-fluid rounded"
                 alt="{{ event.name }}"
                 style="height: 200px; object-fit: contain; cursor: pointer;"
                 data-bs-toggle="modal"
                 data-bs-target="#imageModal"
                 data-bs-image="{{ image.image.url }}"> 
          </div>
        {% endfor %}
      </div>
    {% else %}
      <img src="{% static 'landing/img/default.png' %}"
           class="card-img-top img-fluid"
           alt="{{ event.name }}"
           style="height: 200px; object-fit: contain;">
    {% endif %}
  </div>

  <div class="card-body">
    <h5 class="card-title">Информация о событии</h5>
    <p class="card-text">
      <p class="mt-3 custom-text-color">{{ event.description }}</p>
      <strong>Дата события:</strong> {{ event.event_date|date:"d E Y - H:i" }}<br>
      <strong>Место проведения:</strong>
      <a href="{% url 'place' event.place.slug %}" class="text-decoration-none custom-text-color">
        {{ event.place.name }}
      </a>
    </p>
  </div>

  <div class="mt-4 button_user">
    <a href="{% url 'events' %}" class="custom-button">Назад к событиям</a>
  </div>
</div>
{% endblock %}